<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Angular Notes</a>
</nav>
<!--
<div class="container-fluid text-center pb-5">
  <div style="text-align:center">
    <h1>
      Welcome to {{title}}!
    </h1>
  </div>
</div>
<!-- <app-table [cards]="cards"></app-table> -->
<!-- <app-card-list [cards]="cards"></app-card-list> -->
<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <app-form></app-form>
    </div>
    <div class="col-6">
      <app-form-validation></app-form-validation>
    </div>
  </div>
</div>  -->
<div style="margin-top: 100px;">
  <router-outlet></router-outlet>
</div>